{% extends 'base.html.twig' %}

{% block title %}Register - {{ parent() }}{% endblock %}

{% block body %}
<div class="row justify-content-center animate-fade-in">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body p-4 p-md-5">
                <h1 class="h3 mb-4 text-center">Create an Account</h1>
                
                {{ form_start(registrationForm) }}
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                            {{ form_label(registrationForm.firstName) }}
                            {{ form_widget(registrationForm.firstName) }}
                            {{ form_errors(registrationForm.firstName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(registrationForm.lastName) }}
                            {{ form_widget(registrationForm.lastName) }}
                            {{ form_errors(registrationForm.lastName) }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form_label(registrationForm.phoneNumber) }}
                        {{ form_widget(registrationForm.phoneNumber) }}
                        {{ form_errors(registrationForm.phoneNumber) }}
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                            {{ form_label(registrationForm.plainPassword.first) }}
                            {{ form_widget(registrationForm.plainPassword.first) }}
                            {{ form_errors(registrationForm.plainPassword.first) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(registrationForm.plainPassword.second) }}
                            {{ form_widget(registrationForm.plainPassword.second) }}
                            {{ form_errors(registrationForm.plainPassword.second) }}
                        </div>
                    </div>
                    
                    <div class="mb-4 form-check">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-user-plus me-1"></i> Register
                        </button>
                    </div>
                {{ form_end(registrationForm) }}
                
                <div class="text-center mt-4">
                    <p>Already have an account? <a href="{{ path('app_login') }}">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}