{% extends "default.html.twig" %}

{% block title %}Home
{% endblock %}
{% block stylesheets %}
	<link href="/../public/css/home.css" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="button">
		<form action="/" method="post" id="button2">
			<input type="submit" name="logOut" value="Log Out" id="submit">
		</form>
		<button id="button">
			<a href="/register">regsister</a>
		</button>
		<button id="button">
			<a href="/login">login</a>
		</button>
		<button id="button">
			<a href="/profil">profil</a>
		</button>
	</div>

	<h3>chercher un logements par ville</h3>
	<form action="/" method="post" id="formSearch">
		<label for="search">chercher par ville:</label>
		<input type="text" name="cityLogements" id="search">
		<input type="submit" name="search" value="submit" id="submit2">
	</form>


	<h3>ajouter un logements a vos favoris</h3>
	<div class="fav">
		<form action="/favorites" method="post" id="formAddLogementToFavorites">
			<label for="nameLogements">nameLogements:</label>
			<input type="nameLogements" name="nameLogements" id="nameLogements" required>

			<input type="submit" name="submit" value="submit" id="submit">
		</form>
	</fav>

	<h3>listes de tous les logements disponibles</h3>
	{% for logements in logementsDetails %}
		<div class="logements">
			<p>id:
				{{logements.id}}</p>
			<p>prix:
				{{logements.price}}€</p>
			<p>ville:
				{{logements.city}}</p>
			<p>nom:
				{{logements.name}}</p>
			<img id="image" src="data:image;base64,{{ logements.image }}" alt="Image">
			<a href="/logements?id={{ logements.id }}">Voir le logements</a>
		</div>
	{% endfor %}
{% endblock %}
